{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.rb",
      "options": {
        "preferSingleQuotes": false
      }
    }
  ]
}
